<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>后台管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/admin_login.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="admin_login_wrap">
		<h1>后台管理</h1>
		<div class="adming_login_border">
			<div class="admin_input">
				<form action="check" method="post">
					<ul class="admin_items">
						<li><label for="user">用户名：</label> <input type="text"
							name="name" value="admin" id="name" size="40"
							class="admin_input_style" /></li>
						<li><label for="pwd">密码：</label> <input type="password"
							name="pwd" value="admin" id="pwd" size="40"
							class="admin_input_style" /></li>
						<li><input type="submit" tabindex="3" value="提交"
							class="btn btn-primary" /></li>
					</ul>
				</form>
			</div>
		</div>
		
	</div>
</body>
</html>